<%= form_tag('/esporte_bixos') do %>


<% @esportes.each do |esporte| %>
  <%= check_box_tag 'esportes_ids[]', esporte.id %>
  <%= h esporte.modalidade -%>
<%end%>


  <div class="actions">
    <%= hidden_field_tag 'bixo_id', @bixo.id%>
     <div><%= submit_tag 'Save' %></div>
  </div>
<% end %>