<h1>Mudar compras de <%= @bixe.nome %></h1>

<%= form_tag do %>
  <h4>Produtos do Kit Bixe</h4>
  <div style="padding-left: 10%">
    <div class="checkbox" style="margin: 20px 0px">
      <input type="checkbox" id="select-all" />
      <label for="select-all">Selecionar todos</label>
    </div>
    <hr />
    <% Item.all.each do |it| %>
      <% if it.eh_do_kit %>
        <div class="checkbox">
          <%= check_box_tag("items[#{it.id}]", it.nome, @check[it.id] == true, data: { "eh-do-kit": it.eh_do_kit }) %>
          <%= label_tag("items[#{it.id}]", it.nome) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <h4>Produtos Separados</h4>
  <div style="padding-left: 10%">
    <% Item.all.each do |it| %>
      <% unless it.eh_do_kit %>
        <div class="checkbox">
          <%= check_box_tag("items[#{it.id}]", it.nome, @check[it.id] == true, data: { "eh-do-kit": it.eh_do_kit }) %>
          <%= label_tag("items[#{it.id}]", it.nome) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-6">
      <div class="actions">
        <%= link_to 'Voltar', @bixe, class: 'btn btn-danger btn-lg btn-wide' %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-6 col-xs-6">
      <div class="actions">
        <%= submit_tag 'Confirmar', class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var selectAllCheckbox = document.querySelector("#select-all");
    var checkboxes = document.querySelectorAll("input[type='checkbox'][data-eh-do-kit='true']");

    selectAllCheckbox.addEventListener("click", function() {
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = selectAllCheckbox.checked;
      }
    });

    function all_checked() {
      var allChecked = true;
      for (var j = 0; j < checkboxes.length; j++) {
        if (!checkboxes[j].checked) {
          allChecked = false;
          break;
        }
      }
      return allChecked;
    }

    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].addEventListener("click", function() {
        selectAllCheckbox.checked = all_checked();
      });
    }

    selectAllCheckbox.checked = all_checked();

  });
</script>
