<%= form_for(@esporte) do |f| %>
  <% if @esporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@esporte.errors.count, "error") %> O que deu caca:</h2>

      <ul>
      <% @esporte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modalidade %><br />
    <%= f.text_field :modalidade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>