<p id="notice"><%= notice %></p>

<h1>
  <%= @esporte.modalidade %>
</h1>

<h2>Bixos cadastrados nessa modalidade</h2> <br>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Curso</th>

  </tr>
<% @bixos.each do |bixo| %>
  <tr>
    <td><%= bixo.nome %></td>
    <td><%= bixo.email %></td>
    <td><%= bixo.telefone %></td>
    <td><%= bixo.curso %></td>
  </tr>
<% end %>
</table>
