<p id="notice"><%= notice %></p>

<h1><%= @item.nome %></h1>

<div class="row">
  <div class="col-md-3">
    <div class="actions">
      <%= link_to 'Voltar à lista', items_path, class: 'btn btn-danger btn-lg' %>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-6">
    <div class="actions">
      <%= link_to 'Editar', edit_item_path(@item), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>

<h2>Bixes que compraram o produto</h2>

<div class="grid">

  <% @item.bixe_items.each_with_index do |b, i| %>
  
      <div class="row list-item-<%= i%2 %>" style="font-size: 40px;">
      <%= link_to bixe_path(b.bixe.id) do %>
        <h4>
          <div class="col-md-3">
            <%= b.bixe.nome %>
          </div>
          <div class="col-md-3">
            <%= b.bixe.email %>
          </div>
          <div class="col-md-3">
            <%= b.bixe.telefone %>
          </div>
          <div class="col-md-3">
            <%= b.quantity %>
          </div>
          
        </h4>
        
      <% end %>
    </div>
  
  <% end %>
</div>
