<p id="notice"><%= notice %></p>

<h1><%= @item.nome %></h1>

<div class="row">
  <div class="col-md-3">
    <div class="actions">
      <%= link_to 'Voltar à lista', items_path, class: 'btn btn-danger btn-lg' %>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-6">
    <div class="actions">
      <%= link_to 'Editar', edit_item_path(@item), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>

<h2>Bixes que compraram o produto</h2>

<div class="grid">
  <% @item.bixes.each_with_index do |b, i| %>
    <div class="row list-item-<%= i % 2 %>">
      <%= link_to bixe_path(b.id) do %>
        <h4>
          <div class="col-md-4">
            <%= b.nome %>
          </div>
          <div class="col-md-4">
            <%= b.email %>
          </div>
          <div class="col-md-4">
            <%= b.telefone %>
          </div>
        </h4>
      <% end %>
    </div>
  <% end %>
</div>
