<%= form_for(@pagamento) do |f| %>
  <% if @pagamento.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pagamento.errors.count, "error") %>
        O que deu caca:
      </h2>

      <ul>
      <% @pagamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :valor %></strong><br />
    <%= f.number_field :valor %>
  </div>
  <div class="field">
    <strong>Responsável</strong></br>
    <% @veteranos.each do |veterano| %>
      <%= f.radio_button :responsavel, veterano.nome %>
      <%= f.label :responsavel_veterano, veterano.nome %><br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.hidden_field :venda_id %>
    <%= hidden_field_tag 'venda_id', @pagamento.venda.id%>
    <%= f.submit "Confirmar" %>
  </div>

<% end %>
