<%= form_with(model: bixo, local: true) do |form| %>
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="field">
        <%= form.label "Nome: " %>
        <%= form.text_field :nome, id: :bixo_nome, autofocus: true %>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="field">
        <%= form.label "Email: " %>
        <%= form.text_field :email, id: :bixo_email %>
      </div>
    </div>

    <div class="col-md-2 col-xs-12">
      <div class="field">
        <%= form.label "Telefone: " %>
        <%= form.text_field :telefone, id: :bixo_telefone %>
      </div>
    </div>

    <div class="col-md-2 col-xs-12">
      <div class="field">
        <%= form.label "Curso: " %><br>
        <%= form.collection_select :curso, Bixo.cursos, :last, :first %>
      </div>
    </div>

    <div class="col-md-2 col-xs-12">
      <div class="field">
        <%= form.label "Caneca: " %><br>
        <%= form.check_box :caneca %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-6">
      <div class="actions">
        <%= link_to 'Voltar à lista', bixos_path, class: 'btn btn-danger btn-lg btn-wide' %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-6 col-xs-6">
      <div class="actions">
        <%= form.submit (form.object.new_record? ? 'Cadastrar' : 'Atualizar'), class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
<% end %>
