<%= form_with(model: bixo, local: true) do |form| %>
  <% if bixo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bixo.errors.count, "error") %> fizeram com que o bIXO não pudesse ser salvo:</h2>

      <ul>
      <% bixo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :bixo_nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :bixo_email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :bixo_telefone %>
  </div>

  <div class="field">
    <%= form.label :curso %>
    <%= form.collection_select :curso, Bixo.cursos, :last, :first %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
