<h1>Listagem de bixos</h1>
<%= link_to 'Cadastrar bixo', new_bixo_path %>
<table>
  <tr>
    <th>Nome</th>
    <th colspan="3">Ações</th>
  </tr>
<% @bixos.each do |bixo| %>
  <tr>
    <td class="name"><%= bixo.nome %></td>
    <td><%= link_to 'Detalhes', bixo %></td>
    <td><%= link_to 'Kit-bixo', new_venda_path(:bixo => bixo.id) %></td>
    <td>
      <%= link_to 'Remover', bixo, method: :delete,
            :data => { :confirm => 'Tem certeza?' } %>
    </td>

  </tr>
<% end %>
</table>