<h1>Listagem de bixes</h1>

<p>
  <%= link_to 'Cadastrar bixe', new_bixo_path %>
</p>

<table>
  <tr>
    <th>Nome</th>
    <th colspan="3">Ações</th>
  </tr>
  <% @bixos.each do |bixo| %>
    <tr>
      <td class="name"><%= bixo.nome %></td>
      <td><%= link_to 'Detalhes', bixo %></td>
      <td><%= link_to 'Kit-bixo', new_venda_path(:bixo => bixo.id) %></td>
      <td><%= link_to 'Atlética', new_esporte_bixo_path(:bixo => bixo.id) %></td>
    </tr>
  <% end %>
</table>