<h1>Listagem de bixos</h1>
<%= link_to 'Novo bixo', new_bixo_path %> |
<%= link_to 'Início', '/' %><br>
<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Curso</th>
    <th></th>
  </tr>
<% @bixos.each do |bixo| %>
  <tr bgcolor=AAFFAA width="100%">
    <td><%= bixo.nome %></td>
    <td><%= bixo.email %></td>
    <td><%= bixo.telefone %></td>
    <td><%= bixo.curso %></td>
    <td><%= link_to 'Editar', edit_bixo_path(:id => bixo.id) %></td>
    <td><%= link_to 'Vender', new_venda_path(:bixo => bixo.id) %></td>
    <td>
      <%= link_to 'Remover', bixo, :method => :delete,
            :data => { :confirm => 'Tem certeza?' } %>
    </td>

  </tr>
<% end %>
</table>