
<h1><%= @bixo.nome %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>E-mail:</b>
  <%= @bixo.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @bixo.telefone %>
</p>

<p>
  <b>Curso:</b>
  <%= @bixo.curso %>
</p>

<br>
<p>
  <%= link_to 'Editar', edit_bixo_path(@bixo) %>
  <%= link_to 'Remover', destroy_bixo_path(@bixo),
            :data => { :confirm => 'Tem certeza?' } %>
</p>

<br>
<br>
<hr>
<h2>Kits vendidos</h2>

<table>
  <tr>
    <th>Cor da mochila</th>
    <th>Tamanho camiseta</th>
    <th>Valor pago</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <% if venda.valor>=75 %>
      <tr>
    <% else %>
      <tr class="bad">
    <% end %>
    <td>
      <%= venda.cor_da_mochila %>
    </td>
    <td><%= venda.tamanho_camisa %></td>
    <td><%= venda.valor %>/80</td>
    <td><%= link_to 'Detalhes', venda %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<hr>
<h2>Modalidades em que está cadastrado</h2>

<table>
  <tr>
    <th>Modalidade</th>
  </tr>
  <% @bixo.esporte_bixos.each do |entry| %>
    <tr>
      <td>
        <%= entry.esporte.modalidade %>
      </td>
    </tr>
  <% end %>
</table>
