<h1><%= @bixo.nome %></h1>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <h2>Dados pessoais</h2>

    <div class="row">
      <div class="col-md-12 col-xs-6">
        <h4>Nome</h4>
        <p>
          <%= @bixo.nome %>
        </p>
      </div>

      <div class="col-md-12 col-xs-6">
        <h4>E-mail</h4>
        <p>
          <%= @bixo.email %>
        </p>
      </div>

      <div class="col-md-12 col-xs-6">
        <h4>Telefone</h4>
        <p>
          <%= @bixo.telefone %>
        </p>
      </div>

      <div class="col-md-12 col-xs-6">
        <h4>Curso</h4>
        <p>
          <%= @bixo.curso %>
        </p>
      </div>
    </div>
    <div class="actions">
      <%= link_to 'Editar', edit_bixo_path(@bixo), class: 'btn btn-success btn-lg' %>
      <%= link_to 'Remover', bixo_path(@bixo), class: 'btn btn-danger btn-lg', method: :delete, data: { :confirm => 'Tem certeza?' } %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <h2>Modalidades</h2>
    <% if @bixo.modalidades.empty? %>
      <p><em>Nenhuma</em></p>
    <% else %>
      <% @bixo.modalidades.each do |mod| %>
        <p>
          <%= mod.nome %>
        </p>
      <% end %>
    <% end %>
    <div class="actions">
      <%= link_to 'Mudar modalidades', edit_bixo_modalidades_path(@bixo), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <% if @bixo.vendas.empty? %>
      <h2><em>Ainda não comprou kit</em></h2>
    <% else %>
      <% count = 1 %>
      <% @bixo.vendas.each do |venda| %>
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Kit vendido #<%= count %></h3></div>
          <div class="panel-body">
            <% count += 1 %>
            <div class='row'>
              <div class='col-md-12 col-xs-6'>
                <h4>Tamanho da camiseta</h4>
                <p><%= venda.tamanho %></p>
              </div>
              <div class='col-md-12 col-xs-6'>
                <h4>Cor da mochila</h4>
                <p>
                    <%= venda.cor %>
                </p>
              </div>
              <div class='col-md-12 col-xs-6'>
                <h4>
                  Pegou caneca?
                  <% if venda.caneca == true %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </h4>
              </div>
              <div class='col-md-12 col-xs-6'>
                <h4>Horário da venda</h4>
                <%= venda.created_at %>
              </div>
            </div>
            <% if venda.pagamentos.empty? %>
              <p class="text-danger"><em>Nenhum pagamento recebido ainda</em></p>
            <% else %>
              <div class='row'>
                <div class='col-md-12 col-xs-6'>
                  <h4>Pagamentos:</h4>
                  <% venda.pagamentos.each do |pagamento| %>
                    <p>
                      <%= link_to edit_pagamento_path(pagamento) do %>
                        R$ <%= "%.2f" % pagamento.valor %>
                        para <%= pagamento.veterano.nil? and "???" or pagamento.veterano.nome %>
                      <% end %>
                      <%= link_to 'X', pagamento_path(pagamento), class: 'btn btn-danger btn-xs', method: :delete %>
                    </p>
                  <% end %>
                </div>
                <div class='col-md-12 col-xs-6'>
                  <h4>Total pago</h4>
                  <p>R$ <%= "%.2f" % venda.total_pago %> / R$ <%= "%.2f" % Venda.preco %></p>
                </div>
              </div>
            <% end %>
            <% unless venda.pago? %>
              <p class="text-danger"><strong>Pagamento incompleto!</strong></p>
            <% end %>
            <div class="actions">
              <%= link_to 'Pagar', novo_pagamento_path(venda), class: 'btn btn-success', method: :put unless venda.pago? %>
              <%= link_to 'Editar', edit_venda_path(venda), class: 'btn btn-warning' %>
              <%= link_to 'Remover', venda_path(venda), class: 'btn btn-danger', method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="actions">
      <%= link_to 'Vender Kit', nova_venda_path(@bixo), class: 'btn btn-success btn-lg', method: :post %>
    </div>
  </div>
</div>

<div class="actions">
  <%= link_to 'Voltar à lista', bixos_path, class: 'btn btn-danger btn-lg' %>
</div>
