<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @bixo.nome %>
</p>

<p>
  <b>E-mail:</b>
  <%= @bixo.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @bixo.telefone %>
</p>



<%= link_to 'Editar', edit_bixo_path(@bixo) %> |
<%= link_to 'Voltar', bixos_path %> |
<%= link_to 'Início', '/' %>
