
<h1><%= @bixo.nome %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>E-mail:</b>
  <%= @bixo.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @bixo.telefone %>
</p>

<br>
<p>
  <%= link_to 'Editar', edit_bixo_path(@bixo) %>
  <%= link_to 'Kit-bixo', new_venda_path(:bixo => @bixo.id) %>
  <%= link_to 'Atlética', new_esporte_bixo_path(:bixo => @bixo.id) %>
</p>

<br>
<br>
<hr>
<h2>Kits vendidos para esse bixo</h2>

<table>
  <tr>
    <th>Cor da mochila</th>
    <th>Tamanho camiseta</th>
    <th>Valor pago</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <% if venda.valor>=75 %>
      <tr>
    <% else %>
      <tr class="bad">
    <% end %>
    <td>
      <%= venda.cor_da_mochila %>
    </td>
    <td><%= venda.tamanho_camisa %></td>
    <td><%= venda.valor %>/80</td>
    <td><%= link_to 'Detalhes', venda %></td>
    </tr>
  <% end %>
</table>
