
<h1><%= @bixo.nome %></h1>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <h2>Dados pessoais</h2>
    <p>
      <strong>Nome:</strong>
      <%= @bixo.nome %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @bixo.email %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= @bixo.telefone %>
    </p>

    <p>
      <strong>Curso:</strong>
      <%= @bixo.curso %>
    </p>
    <div class="actions">
      <%= link_to 'Editar', edit_bixo_path(@bixo), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <h2>Modalidades</h2>
    <% if @bixo.modalidades.empty? %>
      <p><em>Nenhuma</em></p>
    <% else %>
      <% @bixo.modalidades.each do |mod| %>
        <p>
          <%= mod.nome %>
        </p>
      <% end %>
    <% end %>
    <div class="actions">
      <%= link_to 'Mudar modalidades', edit_bixo_modalidades_path(@bixo), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <% if @bixo.vendas.empty? %>
      <h2><em>Ainda não comprou kit</em></h2>
    <% else %>
      <% count = 1 %>
      <% @bixo.vendas.each do |venda| %>
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Kit vendido #<%= count %></h3></div>
          <div class="panel-body">
            <% count += 1 %>
            <h4>Tamanho da camiseta</h4>
            <p><%= venda.tamanho %></p>
            <h4>Cor da mochila</h4>
            <p><%= venda.cor %></p>
            <% if venda.pagamentos.empty? %>
              <p class="text-danger"><em>Nenhum pagamento recebido ainda</em></p>
            <% else %>
              <h4>Pagamentos:</h4>
              <% venda.pagamentos.each do |pagamento| %>
                <p>
                  <%= link_to edit_pagamento_path(pagamento) do %>
                    R$ <%= "%.2f" % pagamento.valor %>
                    para <%= pagamento.veterano.nil? and "???" or pagamento.veterano.nome %>
                  <% end %>
                  <%= link_to 'X', pagamento_path(pagamento), class: 'btn btn-danger btn-xs', method: :delete %>
                </p>
              <% end %>
              <h4>Total pago</h4>
              <p>R$ <%= "%.2f" % venda.total_pago %> / R$ <%= "%.2f" % Venda.preco %></p>
            <% end %>
            <% unless venda.pago? %>
              <p class="text-danger"><strong>Pagamento incompleto!</strong></p>
            <% end %>
            <div class="actions">
              <%= link_to 'Pagar', novo_pagamento_path(venda), class: 'btn btn-success', method: :put unless venda.pago? %>
              <%= link_to 'Editar', edit_venda_path(venda), class: 'btn btn-warning' %>
              <%= link_to 'Remover', venda_path(venda), class: 'btn btn-danger', method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="actions">
      <%= link_to 'Vender Kit', nova_venda_path(@bixo), class: 'btn btn-success btn-lg', method: :post %>
    </div>
  </div>
</div>

<div class="actions">
  <%= link_to 'Voltar à lista', bixos_path, class: 'btn btn-danger btn-lg' %>
</div>

