
<h1>Veteranes responsáveis pelas vendas</h1>

<p>
  <%= link_to 'Nove veterane responsável', new_veterano_path %>
</p>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th></th>
  </tr>
<% @veteranos.each do |veterano| %>
  <tr>
    <td><%= veterano.nome %></td>
    <td><%= veterano.email %></td>
    <td><%= veterano.telefone %></td>
    <td><%= link_to 'Detalhes', veterano %></td>
  </tr>
<% end %>
</table>