
<h1><%= @veterano.nome %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>E-mail:</b>
  <%= @veterano.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @veterano.telefone %>
</p>

<br>
<p>
  <%= link_to 'Editar', edit_veterano_path(@veterano) %>
</p>
