<%= form_for(@venda) do |f| %>
  <% if @venda.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@venda.errors.count, "error") %>
        O que deu caca:
      </h2>

      <ul>
      <% @venda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p> Bixo: <%= @venda.bixo.nome %> </p><br>


  <div class="field">
    <%= f.label :cor_da_mochila %><br />
    <%= f.text_field :cor_da_mochila %>
  </div>
   <div class="field">
    Tamanho da camisa:</br>
    <% tamanhos = ["P", "M", "G", "GG", "XGG"] %>
    <% tamanhos.each do |tamanho| %>
      <%= f.radio_button :tamanho_camisa, tamanho %>
      <%= f.label :tamanho_camisa, tamanho %><br />
    <% end %>
  <div class="actions">
    <%= f.hidden_field :bixo_id %>
    <%= hidden_field_tag 'bixo_id', @venda.bixo.id%>
    <%= f.submit %>
  </div>

<% end %>
