<%= form_for(@venda) do |f| %>
  <% if @venda.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@venda.errors.count, "error") %>
        O que deu caca:
      </h2>

      <ul>
      <% @venda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Tamanho da camisa</strong><br>
    <% tamanhos = ["P", "M", "G", "GG", "Baby M", "Baby G", "Baby GG"] %>
    <% tamanhos.each do |tamanho| %>
      <%= f.radio_button :tamanho_camisa, tamanho %>
      <%= f.label :tamanho_camisa, tamanho %><br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.hidden_field :bixo_id %>
    <%= hidden_field_tag 'bixo_id', @venda.bixo.id%>
    <%= f.submit "Confirmar" %>
  </div>

<% end %>
