
<h1>Kits-bixo</h1>

<%= link_to "Vendas realizadas", vendas_path %>

<h2>Inadimplentes</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Curso</th>
    <th>Deve</th>
    <th></th>
  </tr>
  <% @inadimplentes.each do |venda| %>
    <%unless venda.completo? %>
      <tr>
        <td><%=venda.bixo.nome%></td>
        <td><%=venda.bixo.curso%></td>
        <td>R$ <%=venda.divida%></td>
        <td><%= link_to "Contato", venda.bixo %></td>
      </tr>
    <%end%>
  <%end%>
</table>
