<h1>Dados gerais</h1>

<h2>Vendas de kit-bixo</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Cor da mochila</th>
    <th>Tamanho camiseta</th>
    <th>Total pago</th>
    <th></th>
  </tr>
  <% inadimplentes='' %>
  <% x,y,t,parciais,v,b=0,0,0,0,0,0 %>
  <% @vendas.each do |venda| %>
    <% if venda.valor>=75 %>
      <tr>
    <% else %>
      <% parciais = parciais + venda.valor %>
      <%
        inadimplentes =
          inadimplentes + venda.bixo.nome + ';' +
          venda.bixo.email + ';' +
          (75-venda.valor).to_s + ';' +
          venda.bixo.telefone + ';' +
          venda.bixo.curso + ' '
      %>
      <tr class="bad">
    <% end %>
    <% y=y+1 %>
    <td class="name"><%= venda.bixo.nome %></td>
    <td>
      <%= venda.cor_da_mochila %>
      <% if venda.cor_da_mochila=='v' || venda.cor_da_mochila=='V' %>
        <% v=v+1 %>
      <% end %>
      <% if venda.cor_da_mochila=='b' || venda.cor_da_mochila=='B' %>
        <% b=b+1 %>
      <% end %>
    </td>
    <td><%= venda.tamanho_camisa %></td>
    <td>R$ <%= venda.valor %></td>
    <% if venda.valor>=75 %>
      <% t=t+1 %>
    <% end %>
    <% x=x+venda.valor %>
    <td><%= link_to 'Detalhes', venda %></td>
    </tr>
  <% end %>
  Soma total arrecadada: R$<%= x %><br />
  Soma de valor dos parciais: R$<%= parciais %><br />
  Numero de vendas: <%= y %> kits<br />
  Falta vender: R$<%= 9343 - x %><br />
  Kits quitados: <%= t %> kits<br />
  Kits vermelhos: <%= v %><br />
  Kits brancos: <%= b %><br />
</table>
<br />

<% @vendas.each do |venda| %>
<%if(venda.valor < 75) then %>
   <%=venda.bixo.nome%>,<%=venda.bixo.curso%>,<%=venda.bixo.email%>,<%=75 - venda.valor%>,<br>

  <%end%>



<%end%>

<br />
