
<h1>Venda de kits</h1>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <h3>Kits vendidos</h3>
    <p>
      <%= @stats[:pagos] %> pagos
    </p>
    <p>
      <%= @stats[:pendentes] %> pendentes
    </p>
    <p>
      <%= @stats[:vendidos] %> no total
    </p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3>Arrecadação</h3>
    <p>
      R$ <%= "%.2f" % @stats[:total_pago] %> pago
    </p>
    <p>
      R$ <%= "%.2f" % @stats[:total_pendente] %> pendente
    </p>
    <p>
      R$ <%= "%.2f" % @stats[:total_esperado] %> esperado no total
    </p>
    <p>
      <% if @stats[:balanco] < 0 %><strong class="text-danger"><% else%><strong class="text-primary"><% end %>
        R$ <%= "%.2f" % @stats[:balanco] %> de balanço real
      </strong>
    </p>
    <p>
      <% if @stats[:balanco_esperado] < 0 %><strong class="text-danger"><% else%><strong class="text-primary"><% end %>
        R$ <%= "%.2f" % @stats[:balanco_esperado] %> de balanço esperado
      </strong>
    </p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3>Estoque de camisetas</h3>
    <div class="row">
      <% @stats[:camisetas].each do |tamanho,count| %>
        <div class="col-md-6">
          <p>
            <%= count %> <%= tamanho %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3>Estoque de mochilas</h3>
    <div class="row">
      <% @stats[:mochilas].each do |cor,count| %>
        <div class="col-md-6">
          <p>
            <%= count %> <%= cor.pluralize %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row lil-top-margin">
  <div class="col-xs-6 col-xs-offset-6">
    <ul class="nav nav-pills nav-justified">
      <% if lista_todos? %><li class="active"><% else %><li><% end %>
        <%= link_to "Todos", vendas_path %>
      </li>
      <% if lista_inadimplentes? %><li class="active"><% else %><li><% end %>
        <%= link_to "Inadimplentes", inadimplentes_path %></li>
      </li>
      <% if lista_sem_caneca? %><li class="active"><% else %><li><% end %>
        <%= link_to "Sem caneca", sem_caneca_path %></li>
      </li>
    </ul>
  </div>
</div>

<div class="grid">
  <% @vendas.each_with_index do |v, i| %>
    <div class="row list-item-<%= i % 2 %>">
      <h4>
        <div class="col-md-4 col-xs-6">
          <%= link_to v.nome, bixo_path(v.bixo.id) %>
        </div>
        <div class="col-md-4 col-xs-6">
          <%= v.cor.nil? ? "---" : v.cor %>
        </div>
        <div class="col-md-2 hiddex-sm-down">
          <%= v.tamanho %>
        </div>
        <div class="col-md-2 hiddex-sm-down">
          <% if v.pago? %><strong class="text-success"><% else %><strong class="text-danger"><% end %>
            <%= v.total_pago %>
          </strong>
        </div>
      </h4>
    </div>
  <% end %>
</div>
