<h1>Dados gerais</h1>

<p>
  <strong>Total arrecadado:</strong> R$ <%= @stats[:total] %>
</p>

<p>
  <strong>Total de pagamentos parciais:</strong> R$ <%= @stats[:partials] %>
</p>

<p>
  <strong>Quantidade de vendas:</strong> <%= @stats[:vendas] %>
  (<%= @stats[:quitados] %> quitados)
</p>

<p>
  <strong>Falta arrecadar:</strong> R$ <%= 12696 - @stats[:total] %>
</p>

<p>
  <strong>Mochilas vendidas de cada cor:</strong>
  <%= @stats[:vermelhos]%> vermelhas e <%= @stats[:brancos]%> brancas
</p>

<br>
<br>
<hr>
<h2>Vendas de kit-bixo</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Cor da mochila</th>
    <th>Tamanho camiseta</th>
    <th>Total pago</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <% if venda.completo? %>
      <tr>
    <% else %>
      <tr class="bad">
    <% end %>
    <td class="name"><%= venda.bixo.nome %></td>
    <td>
      <%= venda.cor_da_mochila %>
    </td>
    <td><%= venda.tamanho_camisa %></td>
    <td>R$ <%= venda.valor %></td>
    <td><%= link_to 'Detalhes', venda %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<hr>
<h2>Inadimplentes</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Curso</th>
    <th>Deve</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <%unless venda.completo? %>
      <tr>
        <td><%=venda.bixo.nome%></td>
        <td><%=venda.bixo.curso%></td>
        <td>R$ <%=venda.divida%></td>
        <td><%= link_to "Contato", venda.bixo %></td>
      </tr>
    <%end%>
  <%end%>
</table>

<br />
