<h1>Kits-bixo</h1>

<h2>Vendas realizadas</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Cor da mochila</th>
    <th>Tamanho camiseta</th>
    <th>Total pago</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <% if venda.completo? %>
      <tr>
    <% else %>
      <tr class="bad">
    <% end %>
    <td class="name"><%= venda.bixo.nome %></td>
    <td>
      <%= venda.cor_da_mochila %>
    </td>
    <td><%= venda.tamanho_camisa %></td>
    <td>R$ <%= venda.valor %></td>
    <td><%= link_to 'Detalhes', venda %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<hr>
<h2>Inadimplentes</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Curso</th>
    <th>Deve</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <%unless venda.completo? %>
      <tr>
        <td><%=venda.bixo.nome%></td>
        <td><%=venda.bixo.curso%></td>
        <td>R$ <%=venda.divida%></td>
        <td><%= link_to "Contato", venda.bixo %></td>
      </tr>
    <%end%>
  <%end%>
</table>

<br />
