<h1>Kits-bixo</h1>

<%= link_to "Inadimplentes", inadimplentes_path %>

<h2>Vendas realizadas</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Cor da mochila</th>
    <th>Tamanho camiseta</th>
    <th>Total pago</th>
    <th></th>
  </tr>
  <% @vendas.each do |venda| %>
    <% if venda.completo? %>
      <tr>
    <% else %>
      <tr class="bad">
    <% end %>
    <td class="name"><%= venda.bixo.nome %></td>
    <td>
      <%= venda.cor_da_mochila %>
    </td>
    <td><%= venda.tamanho_camisa %></td>
    <td>R$ <%= venda.valor %></td>
    <td><%= link_to 'Detalhes', venda %></td>
    </tr>
  <% end %>
</table>
