<p id="notice"><%= notice %></p>

<p>
  <b>Cor da mochila:</b>
  <%= @venda.cor_da_mochila %>
</p>

<p>
  <b>Valor:</b>
  <%= @venda.valor %>
</p>
<b>Completo:</b>
    <% if @venda.completo==true %>Completo
  	<% else %> Parcial
   	<% end %>
</p>

<p>
  <b>Bixo:</b>
  <%= @venda.bixo.nome%>
</p>


<%= link_to 'Editar', edit_venda_path(@venda) %> |
<%= link_to 'Voltar', vendas_path %>
