
<h1>Venda para <br><%= link_to "#{@venda.bixo.nome}", @venda.bixo %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Cor da mochila:</b>
  <%= @venda.cor_da_mochila %>
</p>

<p>
  <b>Tamanho da camisa:</b>
  <%= @venda.tamanho_camisa %>
</p>

<p>
  <b>Valor pago:</b>
  R$ <%= @venda.valor %> / R$ 80
</p>

<p>
  <% if @venda.completo? == true then%>
    <span style="color:#0d0;font-weight: bold;">Completo</span>
	<% else %>
    <span style="color:#d00;font-weight: bold;">Pendente</span>
 	<% end %>
</p>

<br>
<p>
  <%= link_to 'Editar', edit_venda_path(@venda) %>
  <%= link_to 'Remover', destroy_venda_path(@venda) %>
</p>

<br>
<br>
<hr>
<h2>Pagamentos</h2>

<table>
  <tr>
    <th>Valor</th>
    <th>Recibido por</th>
    <th colspan="2"></th>
  </tr>
  <% @pagamentos.each do |pagamento| %>
    <tr>
      <td>
        R$ <%= pagamento.valor %>
      </td>
      <td class="nome">
        <%= pagamento.responsavel %>
      </td>
      <td>
        <%= link_to 'Editar', edit_pagamento_path(pagamento) %>
      </td>
      <td>
        <%= link_to 'Remover', destroy_pagamento_path(pagamento),
              data: { :confirm => 'Tem certeza?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'Novo pagamento', new_pagamento_path(:venda => @venda.id) %>
