<p id="notice"><%= notice %></p>

<p>
  <b>Cor da mochila:</b>
  <%= @venda.cor_da_mochila %>
</p>

<p>
  <b>Valor:</b>
  <%= @venda.valor %>
</p>
<b>Completo:</b>
    <% if @venda.completo==true %>Completo
  	<% else %> Parcial
   	<% end %>
</p>

<p>
  <b>Bixo:</b>
  <%= @venda.bixo.nome%>
</p>

<b>Pagamentos:</b></br>
<% @pagamentos.each do |pagamento| %>
  R$ <%= pagamento.valor %> (<b><%= pagamento.responsavel %></b>)
  <%= link_to 'Modificar', edit_pagamento_path(pagamento) %>
  <%= link_to 'Remover', pagamento, :method => :delete,
        :data => { :confirm => 'Tem certeza?' } %>
<% end %>
</br>
</br>

<%= link_to 'Adicionar pagamento', new_pagamento_path(:venda => @venda.id) %>
<%= link_to 'Editar', edit_venda_path(@venda) %> |
<%= link_to 'Voltar', vendas_path %> |
<%= link_to 'Início', '/' %>
