<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro bixes IME-USP</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolink-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolink-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="banner">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= link_to root_path, style: 'color: #fff' do %>
            <h1>Pre-cadastro dos bixes</h1>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-tabs">
        <% if bixes_index? %><li class='active'><% else %><li><% end %>
          <%= link_to 'bixes', bixes_path %>
        </li>
        <% if modalidades_index? %><li class='active'><% else %><li><% end %>
          <%= link_to 'modalidades', modalidades_path %>
        </li>
        <% if confirmacoes_index? %><li class='active'><% else %><li><% end %>
          <%= link_to 'confirmações', confirmacoes_path %>
        </li>
      </ul>

      <%= flash_messages %>

      
      <%= yield %>
    </div>
  </body>
</html>
