<!DOCTYPE html>
<html>
  <head>
    <title>Kitbixo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= link_to root_path, style: 'color: #fff' do %>
            <h1>KIT bIXO</h1>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-tabs">
        <% if bixos_index? %><li class='active'><% else %><li><% end %>
          <%= link_to 'bixos', bixos_path %>
        </li>
        <% if vendas_index? %><li class='active'><% else %><li><% end %>
          <%= link_to 'vendas', vendas_path %>
        </li>
      </ul>

      <%= flash_messages %>

      <%= yield %>
    </div>
  </body>
</html>
